@model IEnumerable<Server_Side_Projectwork.Models.Administrator>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Administrator";
}

<h2>Administrator</h2>
<ul style="list-style-type: none">
    @foreach (var admin in Model)
    {
        <li><a href="/Admin/Edit/@admin.AdminId" class="btn btn-default" style="border-radius: 0">@admin.FirstName @admin.LastName</a></li>
        <br />
    }
    <a href="/Admin/Add" class="btn btn-default">Create new admin!</a>
</ul>
