@model List<Server_Side_Projectwork.Models.Author>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Authors";
}

<div>
    <form>
        <input type="Submit" value="Add Author">
    </form>
</div>

<h2>Search for an Author</h2>
<form>
    <input type="text" name="AuthorSearch">
    <input type="submit" value="Search">
</form>

<h2>Result</h2>
@foreach (var authors in Model)
{
    <li>@authors.FirstName @authors.LastName</li>
}