@model IEnumerable<Server_Side_Projectwork.Models.Author>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Authors";
}




<div>
    <form>
        <a href="/Library/AddAuthors">Add Author</a>
    </form>
</div>

<h2>Search for an Author</h2>
<form>
    <input type="text" name="AuthorSearch">
    <input type="submit" value="Search">
</form>

<h2>Result</h2>
<div>

    @foreach (var item in Model)
    {
        <li>@item.FirstName @item.LastName</li>
    }

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>