@model List<Server_Side_Projectwork.Models.Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Authors";
}

<h2>Books</h2>
@foreach (var book in Model)
{
    <li>@book.Author</li>
}