@model Server_Side_Projectwork.Models.Administrator
@{
    ViewBag.Title = "EditAdmin";
}

<h3>Namn</h3>
<a style="text-decoration: none; color: black">@Model.FirstName @Model.LastName</a>
<br />
<h3>Description</h3>
<a style="text-decoration: none; color: black">@Model.Description</a>