@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home";
}

<h1>Välkommen</h1>
<p>
    The library is a joint information resource and meeting place for all students and researchers at Jönköping University. <br /><br />
    Here you will find literature and resources relevant to research and education at the university. In the building there is also a café serving Swedish fika and lighter meals. <br/>
    On the top floor, you find books on entrepreneurship, small and medium sized enterprises, and innovation. The middle floor holds books on law, business, and economics. On the entrance floor you find the collections within the humanities, social sciences, nursing, engineering, and science. Research methodology within all subject areas, and dictionaries are placed along the blue brick wall.
    <br /><br />
    Turn to the information desk with any questions you might have.
</p>
<hr>