@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home";
}

<h1>Välkommen</h1>
<p>
    Högskolebiblioteket är högskolans viktigaste gemensamma informationsresurs för vetenskaplig forskning och högre studier. <br>
    Vi erbjuder samlingar av tryckt och elektronisk litteratur och informationstjänster som kan användas både på plats och via webbplatsen.
</p>
<hr>