@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form>
    Username: <input type="text" />
    <br />
    <br />
    Password:  @Html.TextBox("Test") <input type="password"/>
    <br />
    <br />
    <input type="button" value="Login!" />
</form>

