@model Service.Models.Administrator
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Login";
}

@Html.AntiForgeryToken();

@if (Session["UserName"] != null)
{
    <h1> Logged In! </h1>
}