@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Login";
}

@if (ViewBag.Auth == true)
{
    <script type="text/javascript">

        window.localStorage.setItem("LoggedIn", true);

    </script>
    <h1>Logged In!</h1>
}
else
{
    <script type="text/javascript">

        window.localStorage.setItem("LoggedIn", false);

    </script>
    <h1>Username or pasword wrong</h1>
}

