@model IEnumerable<Service.Models.Author>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Authors";
}

<style>
    li {
        font-size: 20px;
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
    }

    .iconDetails {
        float: left;
        height: 80px;
        width: 80px;
    }

    .container {
        width: 100%;
        height: auto;
        padding: 1%;
        float: left;
    }

    h3 {
        font-size: 10px;
    }

    h4 {
        margin: 0;
    }

    .left {
        float: left;
        width: 85px;
    }

    .right {
        float: left;
        margin: 0 0 0 5px;
        width: auto;
    }
</style>


<div>
    <form>
        <a href="/Author/AddAuthors">Add Author</a>
    </form>
</div>

<h2>Search for an Author</h2>
<form>
    <input type="text" name="AuthorSearch">
    <input type="submit" value="Search">
</form>

<h2>Result</h2>
<div>

    <div>
        @foreach (var item in Model)
        {
            <div class="container">
                <hr>
                <div class="left">
                    <img src="~/Resources/authimg1.png" class="iconDetails">
                </div>
                <div class="right">
                    <h4>@item.FirstName @item.LastName</h4>
                </div>
            </div>
        }
    </div>

   

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>