@model IEnumerable<Service.Models.Author>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Authors";
}

<div>
    <form>
        <a href="/Author/AddAuthors">Add Author</a>
    </form>
</div>

<h2>Search for an Author</h2>
<form>
    <input type="text" name="AuthorSearch">
    <input type="submit" value="Search">
</form>

<h2>Result</h2>
<div>

    <div>
        @foreach (var item in Model)
        {
            var Fullname = @item.FirstName + " " + @item.LastName;
            <div class="container">
                <hr>
                <div class="left">
                    <img src="~/Resources/authimg1.png" class="iconDetails">
                </div>
                <div class="right">
                    <h4>@Html.ActionLink(Fullname, "ShowAuthor", "Author", new { id = item.Aid }, null)</h4>
                </div>
            </div>
        }
    </div>

   

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>