@model Service.Models.Administrator
@{
    ViewBag.Title = "ShowAdmin";
}

<div id="nameDiv">
   <a>@Model.FirstName @Model.LastName</a>
</div>

<br />
<br />

<div id="descDiv">
    <a id="desc">@Model.Description</a>
</div>

<a href="/Admin/Edit/@Model.AdminId" style="margin-top: 10px;" class="btn btn-default">Edit</a>