@model IEnumerable<Service.Models.Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Books";
}

<div>
    <form>
        <a href="/Book/AddBook">Add Book</a>
    </form>
</div>

<div>
    <h2>Search for a Book</h2>
    <form>
        <input type="text" name="BookSearch">
        <input type="submit" value="Search">
    </form>
</div>


 <div>
     <h2>Result</h2>
     @foreach (var item in Model)
     {
         <li><a href="/Book/ShowBook/@item.ISBN">@item.Title</a></li>
     }

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>